/* SERVICOS INICIO */
#servicos{
  background-color: #FAFAF9;

}
#itens_servicos{
  border: 0px solid red;
  width: 80%;
  height: 500px;
}
#campo-servicos{
  border: 0px solid blue; 
  width: 100%; 
  height: 100%
}

#campo-servicos:hover{
  background: white;
  border: 1px solid #FAFAF9;
  margin-left: 1px;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

#titulo-servicos{
	margin-top: 10px;
	color: #153650;
	font-weight: bold;
	font-size: 18px;
  padding: 2px;
  font-family: 'Halant-SemiBold';
}
#logo-servicos{
  height: 70px; 
  width: 70px; 
  margin-top: 15px;
}
#texto-servicos{
	font-size: 14px;
  padding: 5px;
  height: 45%;

}
#btn-servicos{
  background-color: #153650;
  color: white;
  font-size: 14px;
  height: 10%;
  width: 50%;
  padding: 2%;
  border-radius: 5px;

}
#label-btn{
  margin-top:2%;
  font-family: 'NunitoSans-SemiBold';
}
/* SERVICOS FIM */

/*#####################################################################################################################################
																 CONFIGS PARA MOBILE
########################################################################################################################################*/
/* MOBILE*/
@media only screen and (max-width: 800px){
  #itens_servicos{ 
    width: 100%;
    height: 100%;
  }
  
}